.partner_is_company {
    width: 64px;
}

@media print {
    .pos .pos-receipt {
        width: 290px !important;
        font-size: 12px !important;
        line-height: 1.1 !important;
        font-family: 'Roboto';
    }
    .pos .rows_div {
        margin-top: -2px;
        margin-bottom: -2px;
    }
}